#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/include/ "system-conf.dtsi"
/ {
	wlan_en_reg: fixedregulator@2 {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en-regulator";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		startup-delay-us = <70000>;

		/* WLAN_EN GPIO for this board - Bank1, pin16 */
		gpio = <&gpio0 9 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
};

&amba {
    zyxclmm_drm {
        compatible = "xlnx,zocl";
        status = "okay";
    };

	usb_phy0: usb-phy0 {
		compatible = "usb-nop-xceiv";
		#phy-cells = <0>;
		reset-gpios = <&gpio0 16 1>;
		view-port = <0x170>;
		drv-vbus;
	};
};

&sdhci1 {
	/* Wi-Fi */
	vmmc-supply = <&wlan_en_reg>;
	bus-width = <4>;
	cap-power-off-card;
	keep-power-in-suspend;
	#address-cells = <1>;
	#size-cells = <0>;

	wlcore: wlcore@2 {
		compatible = "ti,wl1837";
		reg = <2>;
		interrupt-parent = <&gpio0>;
		interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
	};
};

&i2c1{
	/* USB Hub */
	status = "okay";
	clock-frequency = <100000>;
	
	usb2514b@2c {
		compatible = "microchip,usb2514b";
		reg = <0x2c>;
	};
};

&spi1 {
    status = "okay";
    num-cs = <1>;
    is-decoded-cs = <0>;
    #address-cells = <1>;
    #size-cells = <0>;

    dev@0 {
        compatible = "linux,spidev";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };
};

