#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/sound/tlv320aic31xx-micbias.h>

/include/ "system-conf.dtsi"
/ {
    // POWER EN
    power_en_reg: fixed-regulator-powen {
        compatible = "regulator-fixed";
        regulator-name = "power-en-regulator";
        gpio = <&gpio0 20 GPIO_ACTIVE_HIGH>;
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        startup-delay-us = <70000>;
        regulator-always-on;
        enable-active-high;
    };

    wlan_en_reg: fixedregulator@2 {
        compatible = "regulator-fixed";
        regulator-name = "wlan-en-regulator";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        startup-delay-us = <70000>;

        // WLAN_EN GPIO for this board
        gpio = <&gpio0 9 GPIO_ACTIVE_HIGH>;
        enable-active-high;
    };

	// USB
    usb_phy0: phy0 {
        compatible = "usb-nop-xceiv";
        #phy-cells = <0>;
        view-port = <0x170>;
        drv-vbus;
    };

    codec_reg_1v8: regulator-1p8v {
        compatible = "regulator-fixed";
        regulator-name = "codec-regulator-1v8";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-always-on;
    };

    codec_reg_3v3: regulator-3p3v {
        compatible = "regulator-fixed";
        regulator-name = "codec-regulator-3v3";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        regulator-always-on;
    };
};

&spi1 {
    status = "okay";
    num-cs = <1>;
    is-decoded-cs = <0>;
    #address-cells = <1>;
    #size-cells = <0>;

    dev@0 {
        compatible = "lwn,bk4";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };
};

&qspi {
    // QSPI
    status = "okay";
    is-dual = <0>;
    num-cs = <1>;
    xlnx,qspi-mode = <1>;

    flash@0 {
        #address-cells = <1>;
        #size-cells =<1>;
        compatible = "jedec,spi-nor";
        reg = <0>;
        spi-max-frequency = <50000000>;
        m25p,fast-read;
    };
};

&i2c1 {
    status = "okay";
    clock-frequency = <100000>;
    #address-cells = <1>;
    #size-cells = <0>;

    // USB Hub
    usb2514b@2c {
        compatible = "microchip,usb2514b";
        reg = <0x2c>;
        reset-gpios = <&gpio0 16 GPIO_ACTIVE_LOW>;
    };

    // Audio Codec
    tlv320aic310x: tlv320aic310x@18 {
        compatible = "ti,tlv320aic3104";
        reg = <0x18>;
        reset-gpios = <&gpio0 18 GPIO_ACTIVE_LOW>;
        /*ai3x-gpio-func = <>;*/  // Not supported on tlv320aic3104
        ai3x-micbias-vg = <MICBIAS_2_0V>; // MicBias Voltage required.
        ai3x-ocmv = <0>; // Output Common-Mode Voltage selection:
        AVDD-supply = <&codec_reg_3v3>; // 3.3V
        IOVDD-supply = <&codec_reg_1v8>; // 1.8V
        DRVDD-supply = <&codec_reg_1v8>; // 3.3V
        DVDD-supply = <&codec_reg_3v3>; // 1.8V
    };
};

&sdhci1 {
    // Wi-Fi
    vmmc-supply = <&wlan_en_reg>;
    bus-width = <4>;
    cap-power-off-card;
    keep-power-in-suspend;
    #address-cells = <1>;
    #size-cells = <0>;

    wlcore: wlcore@2 {
        compatible = "ti,wl1837";
        reg = <2>;
        interrupt-parent = <&gpio0>;
        interrupts = <0 IRQ_TYPE_LEVEL_HIGH>;
    };
};

&usb0 {
    status = "okay";
    dr_mode = "host";
    usb-phy = <&usb_phy0>;
};

&gpio0 {
    // Enable HDMI TX/RX IC 
    hdmi_gpio {
        gpio-hog;
        gpios = <52 GPIO_ACTIVE_HIGH 53 GPIO_ACTIVE_HIGH>;
        output-high;
    };
};
